/* Main */

* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Dosis', sans-serif;
    background: #191919;
    color: #fffff;
}

a:link {
    color:silver;
}

a:visited {
    color: gold;
}

a:hover {
    color: bronze;
}

a:active {
    color: copper;
}

/* Container system */

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    width: auto;
    margin: 0.1em;
}

.item {
    margin: 3px 8px;
}

/* Social icons */

#social > .item {
    text-align: center;
    background-color: #0e0e0e;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 2px solid #0e0e0e;
    border-radius: 8px;
    overflow: hidden;
    transition-duration: 0.4s;
    transition-property: border-color;
}
   #social > .item:nth-of-type(1):hover {
        border-color: orange; 
	}
   	 #social > .item:nth-of-type(2):hover {
        border-color: yellow;
	 }
	 #social > .item:nth-of-type(3):hover {
        border-color: blue;
	 }
	 #social > .item:nth-of-type(4):hover {
        border-color: gold;
	 }
	 #social > .item:nth-of-type(5):hover {
        border-color: silver;
	 }

/* Content */

#picture img {
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    padding: 2px;
    border-radius: 75px;
    width: 150px;
    height: 150px;
}

#biography {
    max-width: 250px;
    text-shadow: 1px 1px 0 #000000;
	color: #0000A0;
}

/* Effects */

#particles, #vignette {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    bottom: 0;
    right: 0;
    z-index: -2;
}

#vignette {
    box-shadow: 0 0 800px rgba(0,0,0,0.9) inset;
    z-index: -1;
}

/* Responsiveness */

@media only screen and (max-width: 600px) {
    .container {
        flex-flow: column-reverse;
    }

    #picture {
        order: 1;
    }

    #social {
        display: flex;
        flex-direction: row;
    }

    #biography {
        text-align: center;
    }
}
canvas {
	position: absolute;
	width: auto;
	height: auto;
	background:#272020;
  curser: pointer;
}



/*rainbow */


.rainbow {
   /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 1s infinite; 
  
  /* Internet Explorer */
  -ms-animation: rainbow 1s infinite;
  
  /* Standar Syntax */
  animation: rainbow 1s infinite; 
}
.rainbow {
   /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 1s infinite; 
  
  /* Internet Explorer */
  -ms-animation: rainbow 1s infinite;
  
  /* Standar Syntax */
  animation: rainbow 1s infinite; 
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}	
}
/* Internet Explorer */
@-ms-keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}	
}

/* Standar Syntax */
@keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}	
}





/*toasty*/
.toasty{
  position: absolute;
  left: 110%;
  bottom:0;
}

.flash{
  animation: flash 1s linear infinite; 
}

.animateIn{
  animation: 2s left forwards ease;
}

.code{
  text-align:center;
  opacity:0;
  position:absolute;
  top:calc(50% + 40px);
  left:50%;
  transform: translate(-50%);
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-bottom: 2px solid #333;
  padding: 0 20px;
  animation: fade 2.5s 7s forwards linear;
}

@keyframes fade{
  0%{opacity: 0;}
  100%{opacity:1;}
}

@keyframes left {
    0% {left: 110%;}
    50% {left: 80%;}
  100%{left: 110%;}
}

@keyframes flash{
  0%{border-right:none;}
  100%{border-right: 0.08em solid #222;}
}

